@media (min-width: 48em) {
	body {
		font-size: 17px;
	}

	main {
		margin-top: 70px;
	}

	.header-title {
		margin-top: -120px;
		text-align: center;
	}

	.moto {
		text-align: center;
	}

	
	/* navigation */
	.navButton {
		display: none;
	}
	.logo {
		margin: 0.5em;
	}
	.navbar {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.navbar-links {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 7px;
	}
	.navbar-links ul {
		flex-direction: row;
		margin-left: 120px;
		margin-top: 12px;
	}
	.navbar-links ul li a {
		padding: 0.8em 1.2em;
	}

	footer {
		margin-top: 7px;
		grid-template-columns: 1fr 1fr 1fr;

		grid-template-areas:
			'address map connect'
			'update map copy-right';
	}

	.connect h4 {
		margin-top: -3px;
	}
}
