@media only screen and (min-width: 32.5em) {
  header, footer {
    border-radius: 15px;
  }
  
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  main {
    font-size: 1rem;
  }

  img {
    float: right;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(5, 3, 3, 15);
  }
}   