:root {
	--heading-font: 'Frank Ruhl Libre', 'Open-Sans', serif;
	--paragraph-font: Tahoma, Geneva, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--heading-font);
}

p {
	font-family: var(--paragraph-font);
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1rem;
}

h3, h4 {
	font-size: 1rem;
}

small {
	font-size: 0.8rem;
}

body {
	max-width: 600px;
	font-size: 16px;
}

/*img {
	max-width: 100%;
}*/

header {
	display: grid;
  grid-template-columns: auto;
  justify-items: center;
  /*margin-top: 10px;*/
}

header, footer {
	background-color: #5d5c61;
	padding: 1rem;
	color: #ffffff;
	/*width: 100vw;
	margin: 0;*/
	text-align: center;
}

footer a {
	color: white;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
	color: navy;
}

#updated {
	color: white;
}

/* Home Page specific Design --------- Start */
#assignments h2 {
	border-bottom: 1px solid black;
	margin-left: .5em;
}

#myphoto {
	/*margin-top: 1rem;*/
	width: 120px;
	height: auto;
}

#assignments ul li a {
	text-decoration: none;
}

.link {
	color: blue;
}

.link:hover {
	text-decoration: underline;
}

/* Home Page specific Design --------- End */
/*@media print {
	#myphoto {
		display: none;
	}*/

	/*footer a[href]::after {
		display: block;
		content: ' (' attr(href) ')';
	}*/