@media screen and (min-width: 45em) {
  .home {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .discover, .home, .heading, .footer, .join-page, .thank-you, main {
    max-width: 70em;
    margin: 10px auto;
  }

  /* --- form styling */
  .join-page, .contact-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }

  .member-small {
    display: none;
  }

  .membership-levels, .chamber-info {
    margin: 0.75rem auto;
    display: block;
    width: 95%;
  }
  /* --- form styling end --- */

  /* --- Directory --- */
  .dir-list section {
    display: flex;
    justify-content: space-between;
  }
  /* --- Directory End */

  .navigation {
    display: flex;
  }

  .navigation li {
    display: inline-block;
    flex: 1 1 auto;
    align-items: center;
  }

  .logoBox h1 {
    font-size: 1.2em;
  }

  .heading {
    grid-template-columns: auto;
    align-items: center;
  }

  .logoBox {
    padding-right: 2em;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1;
  }

  .menu {
    padding-right: 0.8em;
    grid-column: 2/3;
    grid-row: 1;
  }

  .social {
    padding-right: 0.8em;
    grid-column: 3/4;
    grid-row: 1;
  }

  .assignmentFooter p:nth-child(4) {
    display: inline;
  }

  .footer {
    justify-content: space-around;
  }

  .hambugerBtn {
    display: none;
  }

  .spotlightBox:nth-child(3) {
    display: initial;
  }

  .hero {
    grid-column: 2/4;
    grid-row: 1/3;
  }

  .news {
    grid-row: 3/4;
    grid-column: 2/4;
  }

  .spotlightBoxMain {
    grid-row: 1/4;
    grid-column: 4/5;
    flex-direction: column;
  }

  .spotlight img {
    width: 30rem;
  }

  .join {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  .event {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .weather {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}