body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 0.5rem;
  margin: 0 auto;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "EB+Garamond", serif;
  color: #ffffff;
  margin: 0;
  padding: 0.8rem;
}

h1 {
  padding-left: 5px;
}

#banner {
  display: none;
  text-align: center;
  color: #000000;
  background-color: #bfbfbf;
  border-radius: 5px;
  padding: .3em;
}

header {
  display: grid;
  align-items: center;
  /*justify-items: left;*/
  font-size: 0.7em;
  background-color: #091540;
  border-radius: 5px;
  color: #f7f8fc;
  padding: .5em;
  grid-column-gap: 0.3rem;
}

.logo {
  width: 50px;
}

button {
  background-color: #091540;
  color: white;
  border: none;
  font-size: 2em;
}

button:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.toggle-btn {
  padding: 1em;
}

nav {
  margin: 0 auto;
  max-width: 760px;
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 0.5rem;
  position: absolute;
  width: 100%;
  left: 0;
  padding: 0;
  font-size: 1em;
  top: 12%;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  padding: 0.75rem 2vw;
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

nav ul li.active a {
  color: #ccff00; 
  text-decoration-thickness: .125em;
  text-underline-offset: 1.5px;
}

.navigation a:hover {
  background-color: #bfbfbf;
  color: #000000;
}

.responsive li {
  display: block;
  width: 375px;
  text-align: center;
}

.responsive ul {
  position: absolute;
  width: 30%;
}

.responsive a {
  background-color: #091540;
  margin-left: 25em;
}

.extra {
  display: none;
}

.social {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.social a img {
  padding: 0.3em;
}

.icon {
  width: 30px;
}

.date {
  grid-row: 2/3;
  grid-column: 1/5;
  text-align: center;
  padding: 0.3em;
}

main {
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-columns: 1fr;
  grid-row-gap: .5em;
  font-size: 1em;
}

.headerTitle {
  font-size: 15px;
	margin-top: -80px;
	color: #ffffff;
  text-align: center;
}

.moto {
	font-size: 8px;
	margin-left: 50px;
	margin-top: -10px;
	color: #ffffff;
  text-align: center;
  color: #ffffff;
}

main section {
  background-color: #355b8c;
}

main section h3 {
  color: white;
  background-color: #355b8c;
  font-weight: bold;
  font-size: 20px;
  /*padding: 8px;*/
  /*margin: 0;*/
}

main section h4, main section p {
  font-weight: lighter;
}

main section p a {
  color: white;
  font-weight: normal;
  padding: 0 .5em;
}

/*main section p a:hover {
  color: #d3d3d3;
}*/

.small {
  display: none;
}

.event, .weather, .join, .news, .news p, .spotlight1, .spotlight2, .spotlight3 {
  padding: .5em 1em;
  background-color: #355b8c;
  color: #ffffff;
}

.news p {
  font-weight: lighter;
}

/*.spotlight div {
  margin: 0;
}*/

/*.spotlight3, .join {
  display: none;
}*/

footer {
  text-align: center;
  font-size: 10px;
  padding: 1em;
  background-color: #091540;
  border-radius: 5px;
  color: #f7f8fc;
}

.contact-info a {
  color: #d3d3d3;
}

.contact-info a:hover {
  color: #a9a9a9;
}

.class-info {
  padding: 0.5rem;
}

/*Discover Page*/
.image-gallery {
  display: grid;
	grid-template-columns: 1fr;
  /*grid-template-rows: repeat(3 / 1fr)*/
	
}

#lastVisit {
  text-align: center;
}

.title {
	text-align: center;
  color: #000000;
}
  
.gallery {
	grid-gap: 1em;
	margin: auto;
	padding: 1em;
}

.featured-image {
	border: 1px solid black;
	justify-self: center;
	padding: 0.5em;
	filter: blur(0em);
	transition: filter 0.5s;
}

.image-caption {
	text-align: center;
}

img[data-src] {
	filter: blur(0.2em);
}