@media only screen and (min-width: 830px) {
  header {
    font-size: 1rem;
    grid-template-columns: 1fr 1fr;
  }

  nav {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  main {
    margin: 0.5em auto;
    max-width: 800px;
  }

  .navigation {
    display: flex;
    position: relative;
  }

  .navigation li {
    display: block;
    flex: 1 1 auto;
  }

  .navigation a {
    text-align: center;
    border: none;
  }
}