<<<<<<< HEAD
@media only screen and (min-width: 830px) { /*reduces the heading size*/
  body {
		max-width: 60em;
		margin: auto;
	}

=======
@media only screen and (min-width: 830px) {
>>>>>>> 9ac3e89b0e93fed9c1a6f500ab57f6920ac6c43e
  header {
    font-size: 1rem;
    grid-template-columns: 1fr 1fr;
  }

  nav {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  main {
    margin: 0.5em auto;
    max-width: 800px;
  }

  .navigation {
    display: flex;
    position: relative;
  }

  .navigation li {
    display: block;
    flex: 1 1 auto;
  }

  .navigation a {
    text-align: center;
    border: none;
  }
<<<<<<< HEAD

  .menu {
    display: none;
  }
}
=======
}
>>>>>>> 9ac3e89b0e93fed9c1a6f500ab57f6920ac6c43e
