/*
:root {
	--primary-color: #094D92;  /* Yale Blue */
	--secondary-color: #8BBEB2;  /* Green Sheen */
	--accent1-color: #E6F9AF;  /* Key Lime */
	--accent2-color: #E88D67;  /* Copper Crayola */
	--charcoal: #3a3a3a;  /* 3a3a3a  text color to reduce eye strain */
	--white: #f7f8fc;  /* off-white color to reduce eye strain */
	--heading-font: 'EB Garamond', serif;
	--paragraph-font: Tahoma, sans-serif;
}*/

h1, h2, h3 {
	font-family: 'EB Garamond', serif;
	line-height: 1.5em;
}

h1 {
	font-size: 1.4em;
}

h2 {
	font-size: 1.25em;
}

h3, h4 {
	font-size: 1.1em;
}

p, button, ul, ol {
	font-size: 0.9em;
	font-family: Tahoma, sans-serif;
	line-height: 1.5em;
	color: #3a3a3a;
}

.center {
	text-align: center;
}

body {
	margin: 0;
	padding: 0;
}

header, footer {
	text-align: center;
}

main {
	padding: 0em 1em;
}

img {
	max-width: 8rem;
	height: auto;
}

footer {
	padding: 1em;
}

.hidden {
	border: 0;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

nav {
	margin: 0px;
}

nav ul {
	background-color: #094D92;
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style: none;
}

nav ul li {
	text-align: center;
}

nav>ul>li a {
	display: block;
	text-decoration: none;
	font-weight: bold;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	color: #f7f8fc;
}

nav>ul>li a:hover {
	background-color: #8BBEB2;
}

.current {
	text-decoration: underline;
}

.colors {
	width: 100%;
	margin: auto;
	text-align: center;
}

.colors th {
	background-color: #3a3a3a;
	color: #f7f8fc;
}

.colors td {
	width: 25%;
	height: 3em;
}

.primary {
	background-color: #094D92;
	color: #f7f8fc;
}

.secondary {
	background-color: #8BBEB2;
	color: #3a3a3a;
}

.accent1 {
	background-color: #E6F9AF;
	color: #3a3a3a;
}

.accent2 {
	background-color: #E88D67;
	color: #3a3a3a;
}

.charcoal {
	background-color: #3a3a3a;
	color: #f7f8fc;
}

.white {
	background-color: #f7f8fc;
	color: #3a3a3a;
}

.profile_photo {
	width: 20vw;
	height: auto;
}


/*
body {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
}

header {
  display: grid;
  grid: 2fr 1fr / 1fr 2fr 2fr 1fr;
  align-items: center;
  justify-items: center;
  font-size: 0.7em;
  background-color: #011640;
  color: white;
  padding: 0.6em;
  grid-column-gap: 0.8rem;
}

.logo {
  width: 10px;
}

h1 {
  padding-left: 5px;
}

button {
  background-color: #011640;
  color: white;
  border: none;
  font-size: 2em;
}

button:hover {
  cursor: pointer;
}

.extra {
  display: none;
}

nav {
  margin: 0 auto;
  max-width: 760px;
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 0.5rem;
  position: absolute;
  width: 100%;
  left: 0;
  padding: 0;
  font-size: 1em;
  top: 12%;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  padding: 0.75rem 2vw;
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

nav ul li.active a,
.navigation a:hover {
  background-color: #355b8c;
}

.hidden {
  display: none;
}

.toggle-btn {
  padding: 1em;
}

.logo {
  width: 75px;
}

.icon {
  width: 40px;
}


.responsive li {
  display: block;
}

.responsive ul {
  position: absolute;
  width: 100%;
}

.responsive a {
  background-color: #011640;
}

main {
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-columns: 1fr;
  grid-row-gap: 0;
  margin-bottom: 0.5rem;
  font-size: 1em;
}

main section {
  background-color: #355b8c40;
}

main section h3 {
  color: white;
  background-color: #355b8c;
  font-weight: bold;
  font-size: 20px;
  padding: 8px;
  margin: 0;
}

main section h4, main section p {
  font-weight: lighter;
}

main section p a {
  color: white;
  font-weight: normal;
  padding: 0 0.25em;
}

main section p a:hover {
  color: lightgrey;
}

<<<<<<< HEAD
=======

.hero {
  display: grid;
  grid: 1fr 1fr / 1fr 1fr;
}

.event {
  padding: 0 1em;
  background-color: #355b8c;
  color: white;
}

.weather, .weather h3 {
  background-color: #011640;
  padding: 0.5em;
}

.news {
  background-color: #011640;
  color: white;
}

.news h3 {
  padding: 1em;
  background-color: #011640;
}

.news p {
  padding: 0 1em 0 1em;
  font-weight: lighter;
}

.spotlight {
  display: grid;
  grid: 1fr 1fr / 1fr;
  grid-row-gap: 1em;
}

.spotlight div {
  border: 4px dotted #f26f63;
  margin: 0;
}

.spotlight div p {
  color: black;
  font-weight: normal;
}

#spotlight3 {
  display: none;
}

.join {
  display: none;
}

>>>>>>> 9ac3e89b0e93fed9c1a6f500ab57f6920ac6c43e
footer {
  text-align: center;
  padding: 1em;
  background-color: #355b8c;
  color: white;
}

.contact-info a {
  color: lightgray;
}

.contact-info a:hover {
  color: darkgray;
}

.wdd-info {
  padding: 0.5rem;
}
<<<<<<< HEAD

/*
:root {
	--primary-color: #094D92;  /* Yale Blue */
	--secondary-color: #8BBEB2;  /* Green Sheen */
	--accent1-color: #E6F9AF;  /* Key Lime */
	--accent2-color: #E88D67;  /* Copper Crayola */
	/* --accent3-color: #BB999C; /* Tuscany */
	--charcoal: #3a3a3a;  /* 3a3a3a  text color to reduce eye strain */
	--white: #f7f8fc;  /* off-white color to reduce eye strain */
	/*--heading-font: 'EB Garamond', serif;
	--paragraph-font: Tahoma, sans-serif;
}

h1, h2, h3 {
	font-family: var(--heading-font);
	line-height: 1.5em;
}

h1 {
	font-size: 1.4em;
}

h2 {
	font-size: 1.25em;
}

h3, h4 {
	font-size: 1.1em;
}

p, button, ul, ol {
	font-size: 0.9em;
	font-family: var(--paragraph-font);
	line-height: 1.5em;
	color: var(--charcoal);
}

.center {
	text-align: center;
}

body {
	margin: 0;
	padding: 0;
}

header, footer {
	text-align: center;
}

main {
	padding: 0em 1em;
}

img {
	max-width: 8rem;
	height: auto;
}

footer {
	padding: 1em;
}

.hidden {
	border: 0;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

nav {
	margin: 0px;
}

nav ul {
	background-color: var(--primary-color);
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style: none;
}

nav ul li {
	text-align: center;
}

nav>ul>li a {
	display: block;
	text-decoration: none;
	font-weight: bold;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	color: var(--white);
}

nav>ul>li a:hover {
	background-color: var(--secondary-color);
}

.current {
	text-decoration: underline;
}

.colors {
	width: 100%;
	margin: auto;
	text-align: center;
}

.colors th {
	background-color: var(--charcoal);
	color: var(--white);
}

.colors td {
	width: 25%;
	height: 3em;
}

.primary {
	background-color: var(--primary-color);
	color: var(--white);
}

.secondary {
	background-color: var(--secondary-color);
	color: var(--charcoal);
}

.accent1 {
	background-color: var(--accent1-color);
	color: var(--charcoal);
}

.accent2 {
	background-color: var(--accent2-color);
	color: var(--charcoal);
}

.charcoal {
	background-color: var(--charcoal);
	color: var(--white);
}

.white {
	background-color: var(--white);
	color: var(--charcoal);
}

.profile_photo {
	width: 20vw;
	height: auto;
}*/

=======
>>>>>>> 9ac3e89b0e93fed9c1a6f500ab57f6920ac6c43e

*/